.cabeza {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    background: rgb(136, 187, 230) ;
    padding: 20px;
}
.cabeza ul {
    display: flex;
    
}
.cabeza ul li {
    margin-left:    20px;
    list-style:     none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: content-box;
}
.imagen1 {
    padding-top: 250px;
    
}
.imagen1 H1 {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}
.imagen1 H4 {
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}
.medio{
    text-align: center;
}

.boxcontenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid blue;
    margin: 20px;
    
}
.box img{
    height: max-content;
    width: auto;
    border: 1px solid orange;
}
.box p {
    text-align: center;
}
.medio2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}