.cabeza {
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cabeza ul {
    display: flex;
    
}
.cabeza ul li {
    margin-left:    20px;
    list-style:     none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: content-box;
}
.imagen1 {
    padding-top: 300px;
    background: url("../img/principal.jpg");
    background-size: auto;
    padding-bottom: 300px;
    border: 1px solid blue;
    
}
.imagen1 H1 {
    color:gray;
    text-align: center;
    font-weight: bold;
    font-size: 120px;
    
}
.imagen1 H4 {
    color:gray;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}
.medio{
    padding: 200px;
    text-align: center;
}

.boxcontenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid blue;
    margin: 20px;
    
}
.box img{
    height: auto;
    width: 100%;
    border: 1px solid orange;
}
.box p {
    
    display: flex;
    justify-content: center;
}
.medio2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.im2 img{
    height: auto;
    width: 100%;
}
.about {
    text-align: center;
    padding-top: 80px;

}