
.cabeza{

    margin: 20px;
}
ul li:hover a {
    border: 2px solid gray;
}
.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.barra ul {
    display: flex;
}
.barra ul li {
    margin-left:    40px;
    list-style:     none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.barra ul li a{
    text-decoration: none;
    color: gray;

}
.imagen1 {
    height: 700px;
    background: url("../img/principal.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

.imagen1 H1 {
    padding-top: 100px;
    color:dimgray;
    text-align: center;
    font-size: 100px;
    
}
.imagen1 H4 {
    color:honeydew;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}
.medio{
    background: rgb(240, 240, 240);
    padding-top: 150px;
    text-align: center;
    padding-bottom: 100px;
}
.medio hr {
    height: 5px;
    width: 12%;
    background-color: black;
}

.boxcontenedor {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10PX;
    background: white;
    overflow: hidden;
    margin: 45px;
}
.box img{
    height: auto;
    width: 100%;

}
.box p {
    
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 25px;
}
.medio2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.im2 img{
    height: auto;
    width: 100%;
}
.about {
    text-align: center;
    margin: 60px;
}
.about hr {
    height: 5px;
    width: 12%;
    background-color: black;
}
.about p {
    margin-left:    50px;
    margin-right:   50px;
    font-size: large;
    color:  lightgray;
}
.final {
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(240, 240, 240);
    align-items: center;
}
.final h1 {
    color: grey;
    margin-bottom: 0px;
}
.final p {
    color: grey;
}
.final input {
    height: 50px;
    width: 500px;
    text-align: center;
    
}
.final button {
    margin-top: 10px;
    height: 40px;
    width: 150px;
    border: 2px solid dimgray;
    color: dimgrey;
}
.redes {
padding: 80px 20px 80px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.enlaces ul {
        display: flex;
        text-justify: center;
}
.enlaces ul li {
    margin-left:    40px;
    list-style:     none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.enlaces ul li a{
    text-decoration: none;
    color: gray;

}
.iconos {
    font-size: 50px;
    color: gray;
}
.iconos a {
    color: gray;
    padding: 15px;
    text-decoration: none;
}
.yo {
    display: flex;
    justify-content: left;
    border: 1px solid blue;
    margin-left: 400px ;
    margin-right: 400px;
    background: lightgray;
}
.yo img {
    height: 100px;
    width: 100px;
    margin-right: 50px;
}

@media screen and (max-width:800px ) {
    .barra {
        width:80%;
		height:100%;
		right:-100%;
		margin:0;
        position: fixed;
        
    }
    .imagen1 {
        height: 500px;
    }
    .imagen1 h1 {
        font-size: 50px;
        padding-top:   150px;
    }
    .imagen1 h4 {
        font-size: 30px;
    }
    .boxcontenedor {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        
    }
    .medio2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about{
        margin: 50px 5px 50px 5px;
    }
    .about h1 {
        font-size: 50px;
    }
    .about p {
        margin: 5px;
        font-size: 25px;
    }
    .final {
        padding: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: rgb(240, 240, 240);
        align-items: center;
    }
    .final h1 {
        font-size: 50px ;
    }
    .final p {
        font-size: 30px ;
        margin-top: 0;
    }
    .final input {
        height: 50px;
        width: 120%;
        
    }
    .final button {
        margin-top: 10px;
        height: 60px;
        width: 120%;
        border: 2px solid dimgray;
        color: dimgrey;
    }
    .redes {
        padding: 80px 20px 80px 20px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
    }
    .enlaces ul{
        display: flex;
        flex-direction: column;
        
    }
    .enlaces ul li{
        margin: 40px;
        text-align: center;
    }
    
    .iconos a {
        margin: 45px 20px 15px 20px;
        text-align: center;
        justify-content:space-around ;
    }
    

}